h1{
    color: blue;
}
h1{
    -ms-text-size-adjust: auto;
}
h1{
    text-align: center;
}
p{
    font-size: larger;text-align: center
    ;
}
p{
    font-size: xx-large
    ;
}
span{
    color: red;
}
span{
    color: red;
}
h1{
    font-size: xx-large;
}
h1{
    font-size: larger;
}
h1{
    font-size: x-large;
}
h1{
    font-size: xx-large;
}